<div class="floating_comments">
  <h5>Notes</h5>
  <textarea class="politburo_comment" placeholder="Write your comments here"><%= @comment.text unless @comment.nil? %></textarea>
  <button class="save" data-post-id="<%= @post.id %>">Save</button>
  <h5 class="message"></h5>
</div>
