<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<div class="sites">
<% @sites.each do |site| %>
  <h2 class="big_site"><%= link_to site, site %></h2>
<% end %>
</div>
