<%= site_header(@site) %>
<% @grouped_posts.each do |group| %>
  <h3 class="month"><%= group[0] %> (<%= group.flatten.count - 1 %>)</h3>
  <% posts = group[1..-1].flatten %>
  <% posts.each do |post| %>
    <%# <% require 'pry'; binding.pry %>
    <%= render partial: 'preview', locals: { post: post } %>
  <% end %>
<% end %>
