// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments {
  padding: 0px 20px 50px;
}
.comment {
  border-top: 1px solid #ddd;
  padding: 5px 0;
  font-family: Georgia;
  img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
  }
  .user {
    display: inline-block;
  }
  .name {
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
  }
  .text {
    margin-top: 5px;
  }
  .pin {
    float: right;
  }
}
.floating_comments {
  position: fixed;
  right: 10px;
  top: 80px;
  width: 325px;
  height: 350px;
  textarea {
    width: 280px;
    height: 300px;
    font-size: 16px;
    font-family: Georgia;
    padding: 10px;
    border: 1px solid transparent;
    &:hover {
      background: rgb(255, 255, 173);
    }
    &:focus {
      border: 1px solid #ddd;
      outline: none;
    }
  }
  h5 {
    padding: 0 10px;
    margin: 5px 0;
    text-transform: uppercase;
  }
  button {
    display: none;
  }
}
button {
  cursor: pointer;
  width: 302px;
  font-size: 20px;
  padding: 10px 0;
  background: rgb(53, 127, 224);
  color: white;
  border: none;
  &:hover {
    background: #056CF2;
  }
}
.message {
  text-align: center;
  padding: 10px;
}
