// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'type';
@import 'placeholder';

.comments {
  padding: 0px 0px 20px;
  // border-bottom: 1px solid #ddd;
}
.comment {
  padding: 0px 0;
  font-family: Georgia;
  img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
  }
  .user {
    display: inline-block;
  }
  .name {
    // font-weight: bold;
    font-family: $sans;
    margin-top: 5px;
    display: inline-block;
  }
  .text {
    margin-top: 5px;
    p {
      font-family: $sans_norm;
    }
  }
  .pin {
    float: right;
    margin: 0;
  }
}
.floating_comments {
  position: fixed;
  right: 10px;
  top: 90px;
  width: 325px;
  height: 350px;
  textarea {
    width: 280px;
    resize: none;
    font-family: $sans;
    &.politburo_comment {
      max-height: 500px;
      overflow-y: auto;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0px;
    }
  }
  h5 {
    padding: 0 0px;
    margin: 5px 0;
    text-transform: uppercase;
  }
  button {
    display: none;
    width: 100px;
  }
}
button {
  cursor: pointer;
  font-size: 14px;
  padding: 8px 0;
  margin-bottom: 10px;
  background: #EBEBEC;
  color: rgb(100, 98, 98);
  border: none;
  &:hover {
    color: black;
  }
}
.floating_comments .message {
  text-align: left;
}
.message {
  text-align: center;
}
textarea {
  border: 1px solid transparent;
  font-size: 16px;
  font-family: Georgia;
  padding: 5px 10px;
  &:hover {
    border: 1px solid #ddd;
    // background: #F9F9F9;
  }
  &:focus {
    border: 1px solid #ddd;
    outline: none;
  }
}
.top_comment {
  border-bottom: 1px solid #ddd;
}
