// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments {
  padding: 0px 20px 50px;
}
.comment {
  border-top: 1px solid #ddd;
  padding: 5px 0;
  font-family: Georgia;
  img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
  }
  .user {
    display: inline-block;
  }
  .name {
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
  }
  .text {
    margin-top: 5px;
  }
  .pin {
    float: right;
  }
}
.floating_comments {
  position: fixed;
  right: 10px;
  top: 80px;
  width: 325px;
  height: 350px;
  textarea {
    width: 280px;
    height: 300px;
  }
  h5 {
    padding: 0 10px;
    margin: 5px 0;
    text-transform: uppercase;
  }
  button {
    display: none;
  }
}
button {
  cursor: pointer;
  width: 302px;
  font-size: 14px;
  padding: 8px 0;
  margin-bottom: 10px;
  background: #EBEBEC;
  color: rgb(100, 98, 98);
  border: none;
  &:hover {
    color: black;
  }
}
.message {
  text-align: center;
}
textarea {
  border: 1px solid transparent;
  font-size: 16px;
  font-family: Georgia;
  padding: 5px 10px;
  &:hover {
    background: #ECECEB;
  }
  &:focus {
    border: 1px solid #ddd;
    outline: none;
  }
}
.top_comment {
  border-bottom: 1px solid #ddd;
}
