html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 1310px) {
  .floating_comments {
    width: 100%;
    position: relative;
    padding: 0 10px;
    margin: 0;
    top: 0;
    right: 0;
    textarea {
      width: 100%;
      height: 200px;
      margin: 0 !important;
      // background: 1px solid #ddd;
      background: #F9F9F9;
    }
  }
}

@media only screen and (max-width: 740px) {
  body {
    word-wrap: break-word;
    .full_image {
      display: inline !important;
      max-width: 100% !important;
      width: 100% !important;
    }
    .small_image {
      display: none !important;
    }
  }
  body:not(.preview) {
    h1.site {
    }
    nav {
      padding-left: 20px;
      height: 50px;
      .menu {
        margin-right: 0;
      }
      .fa, h1.site {
        font-size: 18px;
        // line-height: 18px;
        letter-spacing: 0;
      }
      ul.dropdown {
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        top: 49px;
      }
    }
    &.dashboard {
      nav {
        border-bottom: none;
      }
      width: 100%;
      .main {
        div.sites {
          padding: 0;
          margin: 0;
          margin-top: 3px;
          box-sizing: border-box;
          // margin: 10px;
          .big_site {
            letter-spacing: 2.5px;
            width: 100%;
            margin: 3px 0;
            box-sizing: border-box;
            padding: 20px 0;
            font-size: 15px;
          }
        }
      }
    }
    .main {
      h3.month {
        padding-bottom: 0 !important;
        margin-bottom: 18px;
        margin-left: 10px !important;
        margin-right: 10px !important;
      }
      .overview + h3.month {
        border-top: 1px solid #ddd !important;
      }
      .preview {
        width: 100% !important;
        border-bottom: none !important;
        .image_container {
          width: 100% !important;
          clear: both;
          float: none !important;
          img {
            margin: 0;
          }
        }
        .text {
          width: 100% !important;
          float: none;
          margin: 0;
          padding: 0;
          padding: 0 10px;
          h2.headline {
            box-sizing: border-box;
            font-size: 18px;
            padding-top: 5px;
          }
          textarea.editor_comment {
            box-sizing: border-box;
            border: 1px solid #ddd;
            padding-left: 10px;
          }
          .user.editor {
            margin-top: 7px;
            .name {
              // width: auto;
              // display: inline;
            }
          }
        }
        .timestamp {
          font-size: 11px;
        }
      }
    }
    &.reports {
      .main {
        .post + .post {
          margin: 40px 10px 0;
        }
        .post {
          padding: 10px;
          margin: 20px 10px 0;
        }
        .text {
          padding: 0;
        }
      }
    }
    .overview {
      h3 {
        padding-left: 10px;
      }
      .overall {
        margin-bottom: 0px;
      }
    }
  }
  .top_comment {
    padding: 0 10px;
    border-bottom: none;
  }
  h2.headline.full, .show .timestamp, .byline, .original, .post_body p:not(.has-media),blockquote,li,h1,h2.h3,h4,h5,hr,small,small a {
    padding: 0 10px;
  }
  h2.headline.full {
    font-size: 18px;
  }
  .post_body {
    margin-top: 16px !important;
    blockquote {
      padding: 12px 8px;
    }
  }
  .timestamp {
    font-size: 11px !important;
  }
  body .main .preview .remove_post {
    display: inline;
  }
  .setup {
    padding: 5px;
  }
  .reports_list {
    padding: 5px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    .full_image {
      display: none !important;
    }
    .small_image {
      display: inline !important;
      max-width: 100% !important;
      width: 100%;
    }
  }
}
