.preview header, .submit header {
  display: none;
}
.nav-up {
  top: -70px !important; // same as header height. use variables in LESS/SASS
}
header:not(.pagination) {
  background: white;
  z-index: 10000;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  .site {
    font-size: 1.5em;
    // margin-top: 20px;
    // letter-spacing: 1px;
    // text-transform: uppercase;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .dashboard_icon {
    font-size: 1.33333333em;
    color: black;
    float: right;
    margin: 20px 0 0;
  }
  border-bottom: 1px solid #ddd;
  height: 70px;
  // padding-left: 40px;
  padding: 4px 25px;
  background: white;
  .menu {
    vertical-align: 0;
    color: black;
    cursor: pointer;
    margin-right: 20px;
    .fa-lg {
      line-height: 0;
    }
  }
  ul.dropdown {
    display: none;
    z-index: 10000;
    background: white;
    position: absolute;
    padding: 9px;
    background: white;
    width: 200px;
    top: 40px;
    border: 1px solid #ddd;
    a {
      color: black;
      &:hover {
        color: #C2BBBB;
        text-decoration: none;
      }
      &:last-child {
        li {
          padding-bottom: 10px;
        }
      }
    }
    li {
      text-transform: uppercase;
      letter-spacing: 1px;
      list-style: none;
      margin: 0;
      padding: 10px 10px 4px;
      font-weight: bold;
      font-size: 13px;
      &.report {
        text-transform: none;
        font-weight: normal;
        border-top: none;
        margin-left: 10px;
        padding: 0 10px 10px;
        letter-spacing: 0px;
      }
    }
  }
}
