// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.notes {
  margin: 30px 0;
  textarea {
    max-height: none;
    overflow-y: auto;
    height: auto;
    resize: vertical;
  }
}
