<% if current_user.politburo? %>
  <div class="top message">
    Hey Politburo member! <%= link_to "Click here to edit reports", build_report_path(@site) %>.
  </div>
<% end %>

<% if @reports.empty? %>
  <h4>No reports filed for <%= @site.upcase %> yet.</h4>
<% else %>
  <div class="reports">
    <% @reports.each do |report| %>
      <%= link_to report.name,
        show_report_path(report.domain.split('.')[0], report.name),
        class: "report_link"
      %>
    <% end %>
  </div>
<% end %>
