<% if current_user.politburo? %>
  Hey Politburo member! <%= link_to "+ Create a new report", build_report_path(@site) %>
<% end %>

<% if @reports.empty? %>
  <h4>No reports filed for <%= @site.upcase %> yet.</h4>
<% else %>
  <% @reports.each do |report| %>
    <%= link_to report.name, show_report_path(report.domain.split('.')[0], report.name) %>
  <% end %>
<% end %>
