<% if current_user.politburo? %>
  <h5 class="top">
    Hey Politburo member! <%= link_to "Click here to edit and publish reports for #{@site.upcase}.", build_report_path(@site) %>
  </h5>
<% end %>

<% if @reports.empty? %>
  <h4>No reports filed for <%= @site.upcase %> yet.</h4>
<% else %>
  <h4>Reports filed for <%= @site.upcase %></h4>
  <div class="reports">
    <% @reports.each do |report| %>
      <%= link_to report.name,
        show_report_path(report.domain.split('.')[0], report.name),
        class: "report_link"
      %>
    <% end %>
  </div>
<% end %>
