<% @grouped_posts.each do |group| %>
  <h3 class="month"><%= group[0] %> (<%= group.flatten.count - 1 %>)</h3>
  <% posts = group[1..-1].flatten %>
  <% posts.each do |post| %>
    <%= render partial: 'posts/preview', locals: { post: post } %>
    <div class="comments">
      <% post.politburo_comments.each do |comment| %>
        <%= render comment %>
      <% end %>
    </div>
  <% end %>
<% end %>

